* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 350px;
  height: 350px;
  margin: auto;
}

.square {
  border: 1px solid black;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}

.turn {
  text-align: center;
  font-size: 2em;
  margin: 7px 0;
}

.startbtn {
  font-size: 1.5em;
  padding: 7px 10px;
  margin: 15px 0;
}

.start {
  text-align: center;
  margin: auto;
  width: 50vw;
}

.win {
  text-align: center;
  margin: 7px 0;
}